.profile-card {
    border:1px solid #ccc;
    padding:20px;
    width:250px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0.1);
    margin:40px auto;
    border-radius: 8px;
}
.profile-card img{
    border-radius: 50%;
    margin-bottom:10px
}